{% extends 'layouts/base.html' %}
{% block title %}Create a Hike - {{ block.super }}{% endblock %}
{% block content %}

    <form class="form-horizontal" role="form" action="" method="post">
    {% csrf_token %}
    <fieldset>

    <!-- Title -->
    <legend>Create Hike</legend>

    <!-- Name-->
    <div class="form-group">
      <label class="col-md-1 control-label" for="name">Name</label>
      <div class="col-md-6">
      <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Description -->
    <div class="form-group">
      <label class="col-md-1 control-label" for="description">Description</label>
      <div class="col-md-6">
        <textarea class="form-control" id="description" name="description"></textarea>
      </div>
    </div>

   <!-- Region -->
   <div class="form-group">
      <label class="col-md-1 control-label" for="region">Region</label>
      <div class="col-md-6">
      <input id="region" name="region" type="text" placeholder="" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Submit -->
    <div class="form-group">
      <label class="col-md-1 control-label" for="select"></label>
      <div class="col-md-6">
        <button id="submit" name="submit" class="btn btn-info">Submit</button>
      </div>
    </div>

    </fieldset>
    </form>


{% endblock %}