{% extends 'layouts/base.html' %}
{% block title %}Browse - {{ block.super }}{% endblock %}
{% block content %}
        <h1>
            Browse Things{% if initial %} Starting with '{{ initial|title }}'{% endif %}
        </h1>

        {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
        <a href="{% url 'browse_by_name' initial=letter %}"{% if initial == letter %}class="active"{% endif %}>
            {{ letter|upper }}
        </a>
        {% endfor %}

        {% for hike in hikes %}
        <ui>
            <li>
                <a href="{% url 'hike_detail' slug=hike.slug %}">
                    {{ hike.name }}
                </a>
            </li>
        </ui>
        {% empty %}
        <p>Sorry, no results!</p>
        {% endfor %}
{% endblock %}